*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}
.nav-class{
    display: flex;
    list-style: none;
    gap:20px;
    align-items: center;
    margin: 0 auto;
}
.nav-class a{
    text-decoration: none;
}
.common-button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
    color: aliceblue;
    border: none;
}
header{
    background-image: url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 
.header-content{
    color: aliceblue;
text-align: center;
height: 400px;
}
.header-content h1{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-content p{
    width: 500px;
}
header .common-button{
    margin-top: 300px;
    width: 200px;
}
.main-container{
    max-width: 1200px;
    margin: 100px auto;
}
.section-title{
    text-align: center;
    margin-bottom: 70px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}

.box{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    background-color: aliceblue;
    overflow: hidden;
}
.box-info{
    padding: 10px;
}
.category{
    font-size: 14px;
    color: cornflowerblue;
    margin-bottom: 4px;
}
.box-info h3{
    margin: 0 5px 6px;
    font-size: 15px;
}
.box-info p {
    margin: 5px;  
}


.card-section{
    text-align: center;
    margin-bottom: 0  50px;
    font-size: 25px; 
}
.card-section p{
    font-size: small;
}
.custom-dot::before {
  content: "•";
  color: #5a88b9;       
  font-size: 24px;     
  font-weight: bold;     
  padding-right: 8px;    
  vertical-align: middle;
}
