*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}
.nav-class{
    display: flex;
    list-style: none;
    gap:20px;
    align-items: center;
    margin: 0 auto;
}
.nav-class a{
    text-decoration: none;
}
.common-button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
    color: aliceblue;
    border: none;
}
header{
    background-image: url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 
.header-content{
    color: aliceblue;
text-align: center;
height: 400px;
}
.header-content h1{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-content p{
    width: 500px;
}
header .common-button{
    margin-top: 300px;
    width: 200px;
}
.main-container{
    max-width: 1200px;
    margin: 100px auto;
}
.section-title{
    text-align: center;
    margin-bottom: 70px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}

.box{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    background-color: aliceblue;
    overflow: hidden;
}
.box-info{
    padding: 10px;
}
.category{
    font-size: 14px;
    color: cornflowerblue;
    margin-bottom: 4px;
}
.box-info h3{
    margin: 0 5px 6px;
    font-size: 15px;
}
.box-info p {
    margin: 5px;  
}
.pricing-section{
    max-width: 1200px;
    margin:40px auto;

}

.card-section{
    text-align: center;
    margin: 50px auto;
    font-size: 25px; 
}
.card-section p{
    font-size: small;
    
}
.custom-dot::before {
  content: "•";
  color: #5a88b9;       
  font-size: 24px;     
  font-weight: bold;     
  padding-right: 8px;    
  vertical-align: middle;
}
.pricing-holder{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cards-info{
list-style: none;
border-top: 1px solid rgb(185, 181, 181);
margin-top: 30px;
padding-top: 15px;
}
.pricing-cards{
    border: 1px solid rgb(159, 155, 155);
    border-radius: 3px;
    width: 300px;
    padding: 50px;
}
.outline-button{
    padding: 10px 20px;
    width: 220px;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
    border: 2px solid blue;
    margin-top: 40px;
}
.pricing-cards .common-button{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.pricing-cards h5{
    margin-bottom: 10px;
}
.pricing-cards h2{
    margin-bottom: 5px;
}
.pro-cards{
    background-color: #374a5f;
    color: antiquewhite;
}
.pro-cards h5{
    color: rgb(88, 88, 249);
}
footer{
    background-color: #0D1B2A;
}
.fainal-section{
        max-width: 1200px;
    color: rgba(245, 245, 220, 0.417);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    height: 70px;
    padding:30px 40px;
}
footer ul{
    display: flex;
    list-style: none;
}
footer a{
    color: rgba(245, 245, 220, 0.417);
     margin:0 30px;
     text-decoration: none;
}
